{% extends 'base.html' %}
{% block title %}
  To-Do List
{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
        </div>
    {% endfor 1%}
{% endif %}

    {% if current_users_items %}
    <table class="table table-bordered">
        <tr class="table-primary">
            <th>TO-DO ITEM</th>
            <th><center>STATUS CHANGE</center></th>
            <th><center>DELETE ITEM</center></th>
            <div class="logout" style=" position: relative; z-index: 1 ; padding:10px 0px;  text-align: right;">
                <a href="{% url 'logout' %}" style="background-color:#20c997; color:#f8f9fa; border-radius:5px; padding:10px; ">Logout</a>
            </div>
        </tr>
        {% for todo in current_users_items %}
            {% if todo.u_id == user.id %}
                {% if todo.completed %}
                    <tr class="table-secondary">
                        <td class="striker"><a href="{% url 'edit' todo.id %}">{{ todo.item }}</a></td>
                        <td><center><a href="{% url 'uncomplete' todo.id %}"><div class="bg-warning rounded">Uncomplete</div></a></center></td>
                        <td><center><a href="{% url 'delete' todo.id %}"><div class="bg-warning rounded">Delete</div></a></center></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="{% url 'edit' todo.id %}">{{ todo.item }}</td></td>
                        <td><center><a href="{% url 'complete' todo.id %}"><div class="bg-light rounded">Complete</div></a></center></td>
                        <td><center><a href="{% url 'delete' todo.id %}"><div class="bg-light rounded">Delete</div></a></center></td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}